*{
	margin: 0 auto;
}
div{
	width: 80%;
	height: 250px;
	border: 1px solid green;
	position: relative;
	background: mistyrose;
}
#boy{
	width: 100px;
	height: 200px;
	position: absolute;
	top: 45px;
	left: 0;
}
#gilr{
	width: 100px;
	height: 200px;
	position: absolute; 
	top: 45px;
	right: 0;
}
#hoa{
	display: none;
	width: 100px;
	height: 100px;
	margin-left: 47%;
	top: 120px;
	position: absolute;
}